@{
    ViewData["Title"] = "Check Lists";
}

<div id="CheckListsComponent">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Check Lists</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5 class="card-title">Service Check Lists</h5>
                            <h6 class="card-subtitle">Please click the + button to load form</h6>
                        </div>
                        <div class="ml-auto">
                            <button class="pull-right btn btn-circle btn-success" data-toggle="modal" data-target="#myModal"><i class="ti-plus"></i></button>
                        </div>
                    </div>
                </div>

                <!-- .modal for add task -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Task</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Task name</label>
                                        <input type="text" class="form-control" placeholder="Enter Task Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Assign to</label>
                                        <select class="custom-select form-control pull-right">
                                            <option selected="">Sachin</option>
                                            <option value="1">Sehwag</option>
                                            <option value="2">Pritam</option>
                                            <option value="3">Alia</option>
                                            <option value="4">Varun</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <div class="table-responsive">
                    <table class="table table-hover no-wrap">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>LOCATION</th>
                                <th>ACTION</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="txt-oflo">Server Room</td>
                                <td class="txt-oflo">Switch on Server</td>
                                <td>
                                    <div>
                                        <select class="form-control">
                                            <option>Pending</option>
                                            <option>Completed</option>
                                            <option>Failed</option>
                                        </select>
                                    </div>
                                </td>
                                <td><a href="" class="btn btn-small bg-primary"><span class="ti-save"></span></a> </td>
                            </tr>                        
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button type="submit" class="btn btn-full bg-info">Save All <span class="ti-save"></span> </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/components/CheckListsComponent.js"></script>
}