@{
    ViewData["Title"] = "Check Lists";
}

@section Style{
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Check Lists</h4>
    </div>
</div>
<div id="CheckListsComponent">
    <v-app>     
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <h5 class="card-title">Service Check Lists</h5>
                                <h6 class="card-subtitle">Please click the + button to load form</h6>
                            </div>
                            <div class="ml-auto">
                                <button class="pull-right btn btn-circle btn-success" data-toggle="modal" data-target="#myModal"><i class="ti-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- .modal for add task -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Generate and Load Checklist</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label>Select Checklist</label>
                                            <select v-model="checklist_form" class="custom-select form-control pull-right">
                                                <option v-for="option in checklist_forms" :value="option.id">
                                                    {{ option.name }}
                                                </option>
                                            </select>                                     
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" @@click="getCheckLists()">Submit</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <v-data-table :headers="headers"
                                  :items="checklist"
                                  group-by="location"
                                  :items-per-page="50"
                                  class="elevation-1">
                        <template v-slot:group.header="{ group, headers, toggle, isOpen }">
                            <td :colspan="headers.length">
                                <v-btn @@click="toggle" small icon :ref="group" :data-open="isOpen">
                                    <v-icon v-if="isOpen">mdi-chevron-up</v-icon>
                                    <v-icon v-else>mdi-chevron-down</v-icon>
                                </v-btn>
                                {{ group }}
                            </td>
                        </template>
                        <template v-slot:item="row">
                            <tr>
                                <td>{{ row.item.action }}</td>
                                <td>
                                    <select v-model="row.item.status" class="form-control fixed-width-select" @@change="updateStatus($event, row.item)">
                                        <option v-for="option in status_options" :value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span class="badge badge-pill" v-bind:class="row.item.completed ? 'badge-success' : 'badge-warning'">
                                        {{row.item.completed? 'submitted' : 'not submitted'}}
                                    </span>
                                </td>
                            </tr>

                        </template>
                    </v-data-table>
                </div>
            </div>
        </div>

        <template>
            <v-row justify="center">
                <v-dialog v-model="issue_dialog"
                          persistent
                          max-width="600px">             
                    <v-card>
                        <v-card-title class="text-h5">
                            Document Issue
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <p class="font-weight-medium">
                                        Action Affected: <span class="text-danger">{{checklistobj?.action}}</span>
                                    </p>                                   
                                </v-row>
                                <v-row>
                                    <p class="font-weight-medium">
                                        Location Affected: <span class="text-danger">{{checklistobj?.location}}</span>
                                    </p>
                                </v-row>
                                <v-row>

                                    <v-textarea label="Describe Fault/Issue"
                                                  required></v-textarea>

                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="darken-1"
                                   text
                                   @@click="issue_dialog = false">
                                Ignore
                            </v-btn>
                            <v-btn color="green darken-1"
                                   text
                                   @@click="issue_dialog = false">
                                Submit
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-row>
        </template>
    </v-app>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="~/js/components/CheckListsComponent.js"></script>
}